/.vscode
/C programming
/Data Structure and Algorithms
/desktop.ini
/hello.cpp
/hello.exe
/helloworld.c
/helloworld.exe
/image
/ind.html
/index.html
/linkedlist.c
/Python
/readme.md
/tempCodeRunnerFile.c
/type.css